.container {
    display: flex;
    justify-content: center;
    background-color:hsl(0, 0%, 100%);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.attribution { 
    font-size: 15px;
    text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

.body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

.qr-code {
    border-radius: 25px;
    background-color: white;
    padding: auto;
    height: 200px;
    width: 200px;
}